/************
* SETTING THE SCREEN BELOW navigation bar
***************/
body{
  margin:0px;
}
.body-screen{
    position:absolute;
    padding-top: 0px;
    text-align: center;
    background-color: white;
    min-width: 100%;
    margin-left: auto;
    margin-left: -15px;
    margin-right: -15px;
}
.body-screen img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.body-screen .screen-content{
    position: relative;
    bottom: 20px;
    backdrop-filter: blur(20px);
}
.body-screen .screen-content h2{
    font-size: 40px;
    color: rgb(255, 233, 191);
}
.body-screen .screen-content h3{
    font-size: 25px;
    color: rgba(240, 255, 255, 0.897);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
